@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    ESPRIT<br />
    Tunisia<br />
    <abbr title="Phone">P:</abbr>
    71 111 000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:mahmoud.amri@esprit.tn">Contact Admin</a><br />
</address>